@import 'tailwindcss';

#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  /* min-height: 110vh; */
  box-sizing: border-box;
}

:root {
  --primary-color: #0d542b;
}

html {
  font-family: 'Bricolage Grotesque', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.bg-primary {
  background: linear-gradient(135deg, #10b981, #0d9488);
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  15%,
  85% {
    opacity: 1;
  }
}

@keyframes fadeInOutOnce {
  0% {
    opacity: 0;
  }
  10%,
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out forwards;
}

.fade-out {
  animation: fadeOut 0.5s ease-in-out forwards;
}

.fade-in-out {
  animation: fadeInOut 3s ease-in-out infinite;
}

.fade-in-out-once {
  animation: fadeInOutOnce 3s ease-in-out forwards;
}

.bg-noti {
  background: rgba(255, 255, 255, 0.8); /* White with 80% opacity */
  backdrop-filter: blur(12px);
}

#payos-container {
    width: 100% !important;
    height: 100% !important;
    margin-top: 5px;
}

/* 
#payos-container > div {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1.15);
    transform-origin: center;
} */


#payos-container iframe {
    width: 100% !important;
    height: 100% !important;
    /* min-height: 720px !important; */
    border: none !important;
}